{% extends "_manage_base.html" %}
{% block content %}
<form action="manage" method="post">


<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{#    <style type="text/css">#}
{#        #container {width:1100px;}#}
{#        img { width:200px; height:150px; margin: 0 10px; float:left;}#}
{#    </style>#}
</head>

<body>
<h3>My Places of Interest</h3>
<br>
{#<!--<div class="row">-->#}
{##}
{#    <!--{% for url in image_url %}-->#}
{#        #}
{#        <!--<div class="col-xs-6 col-md-3"><img src="{{ url }}" class="img-responsive"></div>-->#}
{#    <!--{% endfor %}-->#}
{#<!--</div>-->#}


<div class="container">
    {% for url in image_url %}
        <span class="col-sm-4 col-xs-6">
        <a href="/view_single?stream_id={{url[1]}}">
           <img src="{{ url[0] }}" class = "img-thumbnail"/>
            <h6>{{ url[1] }}</h6>
        </a>
        </span>
    {% endfor %}
</div>
<form action="manage" method="post">
    <table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Last New Picture</th>
    <th>Number of Pictures</th>
    <th>Number of Views</th>
    <th>Delete</th>
  </tr>

  {% for row in user_streams %}
    <tr>
      <td>
        <a href="/view_single?stream_id={{ row['stream_id'] }}">{{ row['stream_id'] }}</a>
      </td>
      <td>
        {% if row['last_add'] %}
            {{ row['last_add'] }}
        {% else %}
            -
        {% endif %}
      </td>
      <td>{{ row['num_images']}}</td>
      <td>
        {{ row['views']}}
      </td>
      <td>
        <input type="checkbox" name="stream_id" value="{{ row['stream_id'] }}">
      </td>
    </tr>
  {% endfor %}
</table>

<input type="submit" name="delete" value="Delete Checked">
<input type="hidden" name="user_id" value="{{ user_id }}">
</form>


<form action="manage" method="post">
<h3>Streams I subscribe to</h3>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Last New Picture</th>
    <th>Number of Pictures</th>
    <th>Number of Views</th>
    <th>Unsubscribe</th>
  </tr>

  {% for row in subscribed_streams %}
      <td>
        <a href="/view_single?stream_id={{ row['stream_id'] }}">{{ row['stream_id'] }}</a>
      </td>
      <td>
        {% if row['last_add'] %}
            {{ row['last_add']}}
        {% else %}
            -
        {% endif %}
      </td>
      <td>{{ row['num_images']}}</td>
      <td>{{ row["views"] }}</td>
      <td> <input type="checkbox" name="stream_id" value="{{ row['stream_id'] }}"> </td>
    </tr>
  {% endfor %}
</table>

<input type="submit" name="unsubscribe" value="Unsubscribe Checked Streams">
<input type="hidden" name="user_id" value="{{ user_id }}">
</form>


{% endblock %}
